<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
    <div class="bg-zinc-100 h-[] w-[30vw] px-20 py-5 rounded-3xl">
      <img src="../images/logo_trans_144x144-642179a1.png" class="h-10 w-10 block m-auto">
      <p class="text-3xl font-medium block text-center leading-none">Welcome to Pintrest</p>

      <form autocomplete="off" action="/registor" method="post" class="mt-10">
        <p class="py-2">Your Name</p>
        <input class="block w-full px-4 py-3 border-2 border-gray-500 rounded-3xl hover:border-gray-300 " type="text" placeholder="User Name" name="name">
        <p class="py-2">Email</p>
        <input class="block w-full px-4 py-3 border-2 border-gray-500 rounded-3xl hover:border-gray-300 " type="email" placeholder="Email" name="email">
        <p class="py-2">User Name</p>
        <input class="block w-full px-4 py-3 border-2 border-gray-500 rounded-3xl hover:border-gray-300 " type="text" placeholder="User Name" name="username">
        <p class="py-2">Password</p>
        <input class="block w-full px-4 py-3 rounded-3xl border-2 border-gray-500 hover:border-gray-300 " type="text" placeholder="Create a Password" name="password">
        <!-- <p class="py-2">Date of Birth</p> -->
        <!-- <input class="block w-full px-4 py-3 rounded-3xl border-2 border-gray-500 hover:border-gray-300 " type="date"
          placeholder="" name="dob"> -->
        <input class="block w-full px-4 py-3 bg-red-600 rounded-3xl mt-5 text-white" type="submit" value="Continue">
      </form>


      <p class="text-xs text-center mt-10">By continuing, you agree to Pinterest's
        <a href="#" class="hover:underline font-medium">Terms of Service</a>
        and acknowledge you've read our <a href="#" class="hover:underline font-medium">Privacy Policy</a>
      </p>
      
      <hr class="">
      <p class="text-xs text-center mt-3">Already a member? <a href="/" class="hover:underline font-medium">Login</a>
      </p>
    </div>
  </div>


<% include ./partials/footer.ejs %>